---
layout: page
title: Home
permalink: /home/
---

<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset ="UTF-8">
        <meta name="viewport"
            content="width=device-width, intitial-scale=1.
            0">
        <title>Document</title>
    </head>
    <body>
        <nav>
            <url>
                <li> <a href="{{ site.baseurl }}/">Home</a>
     <a href="{{ site.baseurl }}/about">About The Project</a>
     <a href="{{ site.baseurl }}/corpus">Corpus</a>
     <a href="{{ site.baseurl }}/posts">Blog</a>
     <a href="{{ site.baseurl }}/aboutme">About Me</a></a></li>
            </url>
        </nav>
    </body>
</html>